.Rproj.user
.Rhistory
.RData
.Ruserdata
.Rprofile
.DS_Store
man/.DS_Store
pkgdown/.DS_Store
renv/
fasta_files/
bed_files/
genbank_files/
gff_files/
renv.lock
inst/doc
geneviewer.Rproj
revdep/
inst/.DS_Store
CRAN-SUBMISSION
